/* root */
:root {
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* education section */
#education-section {
    width: 90%;
}

#education-section > h2 {
    font-family: "Lexend", serif;
    font-size: 1.7em;
}

/* education container side bar */
.education-cont-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* school cont */
.school-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

}

.school-cont > div {
    display: flex;
    gap: 10px;
}

.school-cont > form > div {
    display: flex;
    flex-direction: column;
}

.school-cont > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: royalblue;
    font-family: "Lexend", serif;
}

.school-cont > p {
    color: royalblue;
    font-family: "Lexend", serif;
}


/* buttons */
.edit-btn:hover {
    cursor: pointer;
    color: lightgray;
}

.delete-btn:hover {
    cursor: pointer;
    color: red;
}

/* adds school */
.add-school {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    gap: 10px;
}

.add-education {
    display: flex;
    justify-content: center;
    align-items: center;
    color: royalblue;
    gap: 10px;
    box-shadow: var(--box-shadow);
    font-family: "Lexend", serif;
    border-radius: 10px;
    padding: 5px;
}

.add-education:hover {
    cursor: pointer;
}

/* form */
.add-school-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    gap: 10px;
    color: royalblue;
    font-family: "Lexend", serif;
}

.add-school-form > div {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.add-school-form > div > input {
    height: 20px;
}

.add-school-form > div > input:focus {
    outline: none !important;
    border: 2px solid royalblue;
    border-radius: 5px;
}

/* buttons */
.buttons-cont-add {
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.buttons-cont-edit {
    display: flex;
    justify-content: space-between;
}

.close-btn-edu-form, 
.submit-btn-edu-form, 
.close-btn, 
.submit-btn {
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.close-btn-edu-form:hover, 
.submit-btn-edu-form:hover, 
.close-btn:hover, 
.submit-btn:hover {
    cursor: pointer;
    background-color: #6787E7;
    box-shadow: none;
}