:root {
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* work experience section */
#work-experience-section {
    width: 90%;
}

#work-experience-section > h2{
    font-family: "Lexend", serif;
    font-size: 1.7em;

}

/* employment header */
.employment-header {
    display: flex;
    justify-content: space-between;
}

.employment-header > div > p:first-child {
    font-weight: bolder;
    font-size: 1.2em;
}

.employment-header > div > p {
    padding: 0;
    margin: 0;

}

.employment-header > p {
    padding: 0;
    margin: 0;
}

/* employments cont */
.employments-cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.employment-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 10px;
}

.employment-cont > div {
    display: flex;
    gap: 10px;
}

.employment-cont >  p {
    color: royalblue;
    font-family: "Lexend", serif;
}

.employment-cont > form {
    display: flex;
    flex-direction: column;
    color: royalblue;
    font-family: "Lexend", serif;
    gap: 10px;
}

.employment-cont > form > div {
    display: flex;
    flex-direction: column;
}

.employment-cont-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-employment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 5px;
    color: royalblue;
    font-family: "Lexend", serif;
}

.add-employment:hover {
    cursor: pointer;
}

/* employment form */
.add-employments-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    gap: 10px;
}

.add-employments-form > div {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.add-employments-form > div >  label{
    color: royalblue;
    font-family: "Lexend", serif;;
}

.add-employments-form > div > input {
    height: 20px;
}
