#work-experience-section {
    width: 90%;
}

/* employment header */
.employment-header {
    display: flex;
    justify-content: space-between;
}

.employment-header > div > p:first-child {
    font-weight: bolder;
    font-size: 1.2em;
}

.employment-header > div > p {
    padding: 0;
    margin: 0;

}

.employment-header > p {
    padding: 0;
    margin: 0;
}


.employments-cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

/* employment cont */
.employment-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.employment-cont > div {
    display: flex;
    gap: 10px;
}

.employment-cont > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.employment-cont > form > div {
    display: flex;
    flex-direction: column;
}

.employment-cont-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-employment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

/* employment form */
.add-employments-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    gap: 10px;
}

.add-employments-form > div {
    display: flex;
    flex-direction: column;
    width: 70%;
}
