/* root */
:root {
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* languages section */
#languages-section {
    width: 90%;
}

#languages-section > h2 {
    font-family: "Lexend", serif;
    font-size: 1.7em;

}

/* language cont side */
.languages-cont-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.languages-cont-side > input {
    height: 50px;
    border-radius: 10px;
    border: none;
    color: royalblue;
    padding-left: 10px;
    box-shadow: var(--box-shadow);
}

.languages-cont-side > input:focus {
    outline: none !important;
    box-shadow: none;
    color: red;
}