#personal-details-section {
    width: 90%;
}
/* form */
#form {
    display: grid;
    height: 70%;
    grid-template-rows: repeat(5, 100pxfr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
}

#form > div {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.about-area {
    grid-area: 5 / 1 / 6 /3;
}

.text-area {
    height: 100%;
    width: 100%;
}