/* :root */
:root {
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* skills section */
#skills-section {
    width: 90%;
}

#skills-section > h2 {
    font-family: "Lexend", serif;
    font-size: 1.7em;
}

/* skills container */
.skills-cont-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills-cont-side > input {
    border: none;
    height: 50px;
    border-radius: 10px;
    color: royalblue;
    padding-left: 10px;
    box-shadow: var(--box-shadow);
}

.skills-cont-side > input:focus {
    outline: none !important;
    box-shadow: none;
    color: red;
}